.nf-svg-button-wrapper .nf-svg-button.simpleround.npp-icon-rt {
    border-color: #e50914;
}
.nf-svg-button-wrapper .nf-svg-button.simpleround.npp-icon-rt:hover {
    border-color: #e50914;
}

.nf-svg-button-wrapper .nf-svg-button.simpleround.npp-icon-imdb {
    border-color: #f6cc02;
}
.nf-svg-button-wrapper .nf-svg-button.simpleround.npp-icon-imdb:hover {
    border-color: #f6cc02;
}

.nf-svg-button-wrapper .nf-svg-button.simpleround.npp-icon-meta {
    border-color: #00f11e;
}
.nf-svg-button-wrapper .nf-svg-button.simpleround.npp-icon-meta:hover {
    border-color: #00f11e;
}

/*
.bob-card.bob-card-tall-panel
*/

/* Need space for the 3 buttons vertically */
.bob-card .npp-nudge-down {
  margin-bottom: -26px;
}
/* Both normal and tall cards for when fixed directly to the card, not within the button wrapper */
.bob-card > .npp-wrapper {
    z-index: 9999;
    position: absolute;
}