.nf-svg-button-wrapper .nf-svg-button.simpleround.npp-icon-rt {
    border-color: #e50914;
}
.nf-svg-button-wrapper .nf-svg-button.simpleround.npp-icon-rt:hover {
    border-color: #e50914;
}

.nf-svg-button-wrapper .nf-svg-button.simpleround.npp-icon-imdb {
    border-color: #f6cc02;
}
.nf-svg-button-wrapper .nf-svg-button.simpleround.npp-icon-imdb:hover {
    border-color: #f6cc02;
}

.nf-svg-button-wrapper .nf-svg-button.simpleround.npp-icon-meta {
    border-color: #00f11e;
}
.nf-svg-button-wrapper .nf-svg-button.simpleround.npp-icon-meta:hover {
    border-color: #00f11e;
}

.title_card .bob-card .bob-last-content {
  /* Push down to fit the 3 extra items on, only for title card style */
  margin-bottom: -26px;
}